<!-- viewstatements.component.html -->
<div class="statements-container">
  <h2>Account Statements</h2>

  <!-- Accounts dropdown -->
  <div class="account-selector">
    <label for="accountSelect">Select Account:</label>
    <select id="accountSelect" [(ngModel)]="selectedAccountId" (change)="onAccountSelect(selectedAccountId??0)">
      <option *ngFor="let account of accounts" [value]="account.id">
        {{ account.accountType }} - {{ account.accountNumber }}
      </option>
    </select>
  </div>

  <!-- Transactions Table -->
  <div *ngIf="transactions.length > 0; else noTransactions" class="transactions-table">
    <table>
      <thead>
        <tr>
          <th>Date</th>
          <th>Description</th>
          <th>Amount</th>
          <th>Type</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let txn of transactions">
          <td>{{ txn.date | date:'shortDate' }}</td>
          <td>{{ txn.description }}</td>
          <td>{{ txn.amount | currency }}</td>
          <td>{{ txn.type }}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- No transactions message -->
  <ng-template #noTransactions>
    <p>No transactions found for this account.</p>
  </ng-template>
</div>
