

<div class="login-container">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="login-form">
      <h2>Login</h2>
  
      <div class="form-group">
        <label for="username">Username</label>
        <input type="text" id="username" formControlName="username" placeholder="Enter your username">
      </div>
  
      <div class="form-group">
        <label for="password">Password</label>
        <div class="password-wrapper">
          <input [type]="hidePassword ? 'password' : 'text'" id="password" formControlName="password" placeholder="Enter your password">
          <button type="button" (click)="togglePasswordVisibility()" class="toggle-btn">
            {{ hidePassword ? 'Show' : 'Hide' }}
          </button>
        </div>
      </div>
  
      <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
  
      <button type="submit" class="login-button">Login</button>
  
      <div class="forgot-password">
        <a href="#">Forgot Password?</a>
      </div>
    </form>
  </div>
  